<section id="featured-cases">
	<div class="container thin center">
		<pre>Case Studies &dash; Real Results</pre>
		<h2>Headline here that introduces<br> the case studies section</h2>
		<a href="/case-studies" class="text-link">View Case Studies</a>
	</div>
	<div class="container">
		<div class="flex fx-apart fx-wrap cards center">
			{% for case in site.case limit:3 %}
			<div class="fx-item-3 fx-item-sm-2 fx-item-xs-1">
				<div class="card-item">
					<a class="card-link" href="{{ case.url }}" alt="hotel-name"></a>
					<div class="card-image">
						<img src="{{ case.img }}" />
					</div>
					<div class="card-meta">
						<h4>{{ case.title }}</h4>
						<p>{{ case.meta }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>