<footer>
	<div class="container center white">
		<div class="footer-logo"><img src="../assets/hotelhelp-logo-w.svg" /></div>
		<p><a href="tel:9016245000">901-624-5000</a> &nbsp;|&nbsp; <a href="/contact">Contact us</a></p>
		<p><a href="https://www.linkedin.com/company/hotel-help-services/about/" target="_blank">LinkedIn</a> &nbsp;|&nbsp; <a href="https://www.facebook.com/hotelhelp.staffing.services" target="_blank">Facebook</a></p>
		<p>HOTELhelp!&reg; are all registered service marks of Hotel help services, Inc.</p>
	</div>
</footer>