<header>
	<div class="container center white">
		<div class="flex fx-apart fx-align-center">
			<div id="logo">
				<a href="/">
					<img src="../assets/hotelhelp-logo-w.svg" alt="Hotel Help Logo" />
				</a>
			</div>
			<nav class="mobile-hide">
				<ul class="nav-menu">
					{% for item in site.data.menu %} 
						<li class="nav-item {% if item.submenu %} hasSub{% endif %} {% if item.link == page.url %}active{% endif %}">
							<a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>

							{% if item.submenu %}
								<ul class="dropdown">
									{% for subitem in item.submenu %}
										<li class="dropdown-item">
											<a href="{{ subitem.link }}">{{ subitem.title }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</nav>
			<div class="cta mobile-hide">
				<a class="btn ghost" href="/contact">Contact us</a>
				<a class="btn" href="/find-a-job">Find a Job</a>
			</div>
			<button class="hamburger mobile-show">
				<span></span>
			</button>
		</div>
	</div>
</header>