<header>
	<div class="container center white">
		<div class="flex fx-apart fx-align-center">
			<div id="logo">
				<a href="/">
					<img src="../assets/hotelhelp-logo-w.svg" />
				</a>
			</div>
			<nav class="mobile-hide">
				<ul>
					{% for item in site.data.menu %} 
					<li {% if item.link == page.url %} class="active"{% endif %}
					><a href="{{item.link}}">{{item.title}}</a></li>
					{% endfor %}
				</ul>
			</nav>
			<div class="cta mobile-hide">
				<a class="btn ghost" href="/contact">Contact us</a>
				<a class="btn" href="/find-a-job" >Find a Job</a>
			</div>
			<button class="hamburger mobile-show">
				<span></span>
			</button>
		</div>
	</div>
</header>