<section id="hero" class="home">
	<div class="container thin white opening">
		<div class="flex fx-apart fx-align-center home-statment">
			<div class="statment">
				<pre class="hero-title">{{ page.title }}</pre>
				<div class="hero-sub-title">{{ page.subtitle }}</div>
			</div>
			<div class="badge">
				{% include badge.html %}
			</div>
		</div>
	</div>
	<div class="container white portals">
		<div class="flex fx-apart home-portals">
			<div class="portal-item job flex fx-align-center">
				<h2>Looking for a JOB?</h2>
				<p>We have bilingual recruiters at all of our locations.</p>
				<a href="/find-a-job" class="btn">Find a Job</a>
				<span class="wash"></span>
			</div>
			<div class="portal-item staffing flex fx-align-center">
				<h2>Looking for Staffing?</h2>
				<p>Our services are designed to help you make the most effective hiring decisions for your organization.</p>
				<a href="/contact" class="btn">Contact us</a>
				<span class="wash"></span>
			</div>
		</div>
	</div>
</section>