<section id="mission-plug">
	<div class="px-4 py-4 px-md-1 py-md-3 container white opening">
		<div class="flex fx-apart fx-align-center home-statment padding-none">
			<div class="statment">
				<pre class="hero-title">Trusted & Dependent</pre>
				<p class="white">At HOTELHelp, our mission is to provide exceptional staffing solutions that empower hotels to deliver outstanding guest experiences. Since 2008, we have been dedicated to supplying highly skilled, experienced, and service-driven associates exclusively to the hotel industry. By handling all aspects of workforce management— from recruitment and screening to compliance and payroll—we allow our clients to focus on their core operations while we deliver the talent needed to drive efficiency, reduce turnover, and enhance guest satisfaction. Our commitment to quality service, cost savings, and long-term partnership ensures that our clients can consistently exceed guest expectations and achieve their business goals with confidence.</p>
				<p class="white">We are a trusted partner for hotel staffing, combining industry expertise with innovative solutions to create a seamless and reliable workforce for every hotel we serve.</p>
				<div class="btn-group mb-1 mt-2">
					<a href="/find-a-job" class="btn">Find a Job</a> &nbsp; 
					<a href="/contact" class="btn">Contact us</a>
				</div>
			</div>
			<div class="badge pl-4 pr-4 mr-4 mr-md-0 pr-md-1 pl-sm-1">
				{% include badge.html %}
			</div>
		</div>
	</div>
</section> 